node_modules/
out/
release/
/release.zip
coverage/
*.log
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
tmp/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.aiwproj
*.tsbuildinfo
electron.vite.config.js
electron.vite.config.d.ts
